.login-container {
    background: purple;
    padding: 50px;
    width: 300px;
    margin: 150px auto 0 auto;
    color: white;
    border-radius: 10px;
<<<<<<< HEAD
    font-family: "Roboto", sans-serif;
    font-weight: 300;
=======
>>>>>>> f2f43bcfb6e22ccbfd20c6c1c43b994aa06646e9
}

.login-header {
    margin-bottom: 20px;
    text-align: center;
}

.login-logo {
    width: 50px;
    height: 50px;
}

.login-form input {
    width: 200px;
    padding: 10px;
    margin-bottom: 20px;
}

<<<<<<< HEAD
.login-button button {
    width: 100%;
    padding: 10px;
    color: white;
    border: none;
}



.roboto-thin {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
  }
  
  .roboto-light {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .roboto-medium {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .roboto-bold {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .roboto-black {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: normal;
  }
  
  .roboto-thin-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: italic;
  }
  
  .roboto-light-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .roboto-regular-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .roboto-medium-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: italic;
  }
  
  .roboto-bold-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: italic;
  }
  
  .roboto-black-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: italic;
  }
  


  
 
  
  .center .btn {
    width: 100px;
    height: 30px;
    cursor: pointer;
    background: transparent;
    border: 1px solid #91C9FF;
    outline: none;
    transition: 1s ease-in-out;
  }
  .center{
    height: 20px;
    display: flex;
    justify-content: center;
  }
  
  
  
  .btn:hover {
    transition: 1s ease-in-out;
    background: #4F95DA;
  }
  
  .btn:hover svg {
    stroke-dashoffset: -480;
  }
  
  .btn span {
    color: white;
    font-size: 16px;
    font-weight: 100;
  }

  .btn{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0;
  }
  .border{
    position: absolute;
    top: 445px;
    left: 1295px;
    width: 100px;
    height: 30px;
  }
=======
.login-button {

}

.login-button button {
    width: 100%;
    padding: 10px;
    background: black;
    color: white;
    border: none;
}
>>>>>>> f2f43bcfb6e22ccbfd20c6c1c43b994aa06646e9
