#root {
    max-width: 1280px;
    margin: 0 auto;
}

.app {
    display: flex;
    font-family: 'Arial', sans-serif;
    background-color: white;
}

.body {
    flex-grow: 1;
<<<<<<< HEAD
=======
    padding: 20px;
>>>>>>> f2f43bcfb6e22ccbfd20c6c1c43b994aa06646e9
    margin: 0 auto;

}

.header {
    background-color: white;
    border-bottom: 1px solid #ccc;
    padding: 10px;
}